.form {
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: auto;
}

#usernameNavbar {
  margin-right: 1rem;
}

.message {
  margin: 1rem;
}

#offerCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  max-width: 1000px
}

#item-card {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

#all_items, #all_offered_items, #all_latest_items {
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-text {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#all_offered_items_title, #all_items_title, #all_latest_items_title, #login_title, #search_member_title {
  margin-bottom: 2.5rem;
}

#SearchErrorMessage {
  margin-top: 5rem;
  margin-left: 7rem;
  color: #696969;
  position: relative;
}


body {
  color: #1a202c;
  text-align: left;
  background: linear-gradient(lightblue, lightpink);
}

#loginForm, #registerForm, #tbody_registered_members, #tbody_denied_members, #tbody_all_members {
  background-color: white;
  border-radius: 5px;
  padding: 10% 10% 10% 10%;
}

/*MODAL*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}